<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>种字</string>
		<key>predicate</key>
		<string>colorIndex == 5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>拼字</string>
		<key>predicate</key>
		<string>colorIndex == 10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>改</string>
		<key>predicate</key>
		<string>colorIndex == 7 OR colorIndex == 9 OR colorIndex == 0</string>
	</dict>
</array>
</plist>
